*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    place-content: center;
    height: 150px;
    box-shadow: 4px 0 8px #0006;
    font-size: 2rem;
    color: blue;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
    background-color: blue;
}